nav {
    background-color: aliceblue;
}

.main-div {
    background-color: bisque;
}

.tezz {
    background-color: azure;
}

.ContextModifierGuy {
    background-color: blueviolet;
}

.OkBg {
 background-color: chartreuse;
}

.RedBG {
    background-color: crimson;
}
